<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.zhuoliupei.observationapp" >

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <!-- Splash Screen Activity, Main Activity -->
        <!-- Remember to set noHistory to true -->
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:noHistory="true"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewestObservationsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:noHistory="true" >
        </activity>
        <activity android:name=".ResetPasswordActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.package.reset_password" />
            </intent-filter>
        </activity>
        <activity android:name=".ObservationDetailActivity" >
        </activity>
        <activity android:name=".UploadActivity" >
        </activity>
        <activity android:name=".UserProfileActivity" >
        </activity>
        <activity android:name=".SearchObservationActivity" >
        </activity>
        <activity
            android:name=".ChooseUploadPhotoMethodActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_choose_upload_method"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <activity android:name=".ChangeUserNameActivity"
            android:theme="@style/Theme.Transparent">
        </activity>
    </application>

</manifest>
